.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.spinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spinner svg {
    margin-left: -30px;
    margin-top: -30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.7);
}

.reload {
    margin-top: 30px;
    animation: reloadFadeIn 6s;
}

@keyframes reloadFadeIn {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
